<footer class="footer">
    <div class="footer-content">
        <p>Copyright © {{ 'now' | date: "%Y" }} Nathanael Burt</p>
        <a
                class="social-link"
                href="https://github.com/nburt"
                aria-label="Link to Github profile"
                target="_blank"
                rel="nofollow noopener"
        >
            <img class="social-icon" src="/assets/icons/github.svg" alt="Link to Github profile"/>
        </a>
        <a
                class="social-link"
                href="https://www.linkedin.com/in/nathanaelburt/"
                aria-label="Link to LinkedIn profile"
                target="_blank"
                rel="nofollow noopener"
        >
            <img class="social-icon" src="/assets/icons/linkedin.svg" alt="Link to LinkedIn profile"/>
        </a>
    </div>
</footer>